/*Estilos CSS*/
/* == EN GENERAL DE LA PAGINA ============================================================================== */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
/* == FINAL DE GENERAL DE LA PAGINA ======================================================================= */
/* == E.S. NAV =========================================================================================== */                                                          
    nav{                                                       /* == CONTAINER NAV ======================= */                                       
        display: block;
        font-family: 'Barlow', sans-serif;
    }

    #Barra-Buscador{                                           /* -- Section Barra Buscador -------------- */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #2F8F9D!important;
        padding: 25px 50px 20px 50px;   
    }

    .Logo1 img{                                                                          /*  Logo1 imagen  */
        width: 170px;
        height: auto;
        text-align: left; 
        padding: 0%;
        margin-bottom: 10px;
    }

    .Contenedor{                                                                /*  Buscador Imput  */
        width: 650px;
        padding: 0px 15px 0px 15px;
        align-items: center;
    }

    .Envios-Compras{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
        gap: 15px; /* espacio entre iconos */
    }

    .Envios1 img{                                                                       /*  Envíos imagen  */
        width:55px;
        height: auto;
        align-items: end;    

    }

    .Compras1 img{                                                                     /*  Compras imagen  */
        width: 50px;
        height: auto;
        align-items: end;
    }

    #Barra-Navegador{                                         /* -- Section Barra Navegador -------------- */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 50px 10px 50px;
        
    }

    .Navegador {                                                                            /*  Navegador  */
        width: 60%;
        list-style: none;        /* quita las viñetas */
        margin: 0;
        padding: 0;
        display: flex;           /* coloca los elementos en línea horizontal */
        justify-content: center; /* opcional: centra toda la lista */
        background-color: white;
    }

    .Navegador li {                                                                      /*  Navegador li  */
        width: 25%;
        margin: 0px 20px; 
        font-size: 20px;
        font-weight: bold;
    }

    .Navegador a {                                                                        /*  Navegador a  */
        text-decoration: none;   /* quita el subrayado */
        color: black;
        font-weight: bold;
        transition: color 0.8s;  /* animación suave */
    }

    .Navegador a:hover {                                                              /*  Navegador hover  */
        width: 18%;
        color: rgb(40, 123, 148);
    }

    .Redes1 img{                                                                         /*  Redes imagen  */
        width: 50px;
        height: auto;
        padding: 0px 10px 0px 10px;
        object-fit: cover; 
    }
        
    .Redes1 a{                                                                             /*  Redes link  */
        text-decoration: none;
    }
/* == E.S. NAV FINAL ===================================================================================== */





























